
<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-6">
   
<%= form_with(model: @tching, local: true) do |f| %>

    <% if tching.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% tching.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

      <%= f.collection_select :ctg_id, Ctg.all, :id, :ctg, { include_blank: true } %>←カテゴリーを選択してください。
      <div class="form-group">
      <label>タイトル：</label>
       <%= f.text_field :title, class: "form-control" %>
      </div>
     
      <div class="form-group" >
        <%= f.label :content, '詳細：' %>
        <%= f.text_area :content, class: "form-control", rows: "15"  %>
      </div>

       <%= f.submit '投稿', class: 'btn btn-primary btn-lg' %>
       
    <% end %>

    <div class="text-center">　
        <%= link_to '戻る', :back %>
    　　<%= link_to 'カテゴリー一覧に戻る', ctgs_path, class: 'baktop' %>
    </div>
  </div>
</div>

