<div class="container">
  <div class="mt-2 row">
    <div class="col-sm-6">

 <h3 class="cap">タイトル一覧 </h3>
  
   <% if current_user.id ==1 %>
        
        <%= link_to '新規投稿', new_tching_path(ctg_id: params[:ctg_id]), class: 'btn btn-primary btn-sm cap' %>
          
      <% end %>
   
  
      <p>（カテゴリー：<%= @ctg.ctg %>）<%= @tchings.count %>件</p>
      <ul>
        <% @tchings.each do |tching| %>
          <li><%= link_to tching.title, tching, class: 'content' %></li>
        <% end %>
      </ul>
      <%= paginate @tchings %>
     
    </div>
 
    <div class="col-sm-6">
      <%= render "layouts/sidebar" %>
    </div>
  
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to 'トップ（カテゴリー一覧に戻る）', ctgs_path, class: "baktop" %>
    </div>
  </div>
</div>
