<h2>タイトル一覧</h2><p>（カテゴリー：<%= @ctg.ctg %>）<%= @tchings.count %>件</p>

<ul>
  <% @tchings.each do |tching| %>
    <li><%= link_to tching.title, tching, class: 'content' %></li>
  <% end %>
 
</ul>
<%= paginate @tchings %>

<% if current_user.id ==1 %>

  <div class="btn-toolbar">
     <div class="btn-group">
          <%= link_to '新規投稿', new_tching_path(ctg_id: params[:ctg_id]), class: 'btn btn-primary btn-sm' %>
      </div>
  </div>
  
<% end %>

<%= link_to 'トップ（カテゴリー一覧に戻る）', ctgs_path, class: "baktop" %>


