
<div class="container">
  <div class="mt-2 row">
    <div class="col-8">
  <h3 class= "child">タイトル一覧</h3>
  <% if current_user.id ==1 %>
        <div class="btn-toolbar child">
          <div class="btn-group">
            <%= link_to '新規投稿', new_tching_path, class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      <% end %>
      
      <p>（キーワード：<%= @keyw %>）<%= @tchings.count %>件</p>
      <ul>
        <% @tchings.each do |tching| %>
        
          <li><%= link_to tching.title, tching_path(tching, q: params[:q]), class: 'content' %></li>
         
        <% end %>
      </ul>
      <%= paginate @tchings %>
      
      
    </div>
    <div class="col-4">
      <%= render "layouts/sidebar" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= link_to 'トップ（カテゴリー一覧に戻る）', ctgs_path, class: "baktop" %>
    </div>
  </div>
</div>



