
<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-6">
         <div class="text-center mt-1">
          <h3 class= "child"><%= @tching.title %></h3>
         </div >
         
         <div>
        
          <% if current_user.id ==1 %>
        
             <div style="float: left">
                 
                <div class="btn-group btn-h">
                    <%= link_to '投稿を編集する', edit_tching_path(@tching) ,class: 'btn btn-primary btn-sm'%>
                 </div>  
                 <div class="btn-group btn-h">
                    <%= link_to '投稿を削除する', @tching, method: :delete, data: { confirm: '本当に削除してよろしいですか？' },class: 'btn btn-danger btn-sm' %>
                  </div>
                  
             </div>
            
            <div style="text-align: right">
        
               <div class="btn-group btn-h">
                        <%= link_to '新規投稿', new_tching_path(@ctg), class: 'btn btn-primary btn-sm' %>
               </div>
             </div>
           
          <% end %>
      
       </div>
       
    <div> 
 
<div class="tb">
    
    <% urchgtext = text_url_to_link(simple_format(h(@tching.content))).html_safe %>
    <%= urchgtext %>

</div>

    <div class="text-center m-2">
        
      <!-- <%= form_with(url: search_tchings_path, method: :get, local: true, class: "form-inline") do |f| %>
        
           <%= hidden_field_tag :q, params[:q] %>
           <%= submit_tag "タイトル一覧に戻る" %>
           
       <% end %>-->
       
          <% if params[:q] != nil %>
       
               <%= link_to 'タイトル一覧に戻る', search_tchings_path(q: params[:q]) %>
          <% else %>    
               <%= link_to 'タイトル一覧に戻る', tchings_path(ctg_id: @ctg_id) %>
          <% end %>   
          
               <%= link_to 'カテゴリー一覧に戻る', ctgs_path, class: 'baktop' %>
       
    </div>
 
 </div>
</div>

 

