<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-6">

<%= form_with(model: @ctg, local: true) do |f| %>

      <% if ctg.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% ctg.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
  

      <div class="form-group" >
      
       <%= f.text_field :ctg, class: "form-control" %>
      
      </div>
    
       <%= f.submit '登録',class: 'btn btn-primary btn-lg' %>
       
<% end %>

<%= link_to 'カテゴリー一覧に戻る', ctgs_path, class: 'baktop' %>
    
  </div>
</div>
