<div class="row">
  <div class="col-sm-6 offset-sm-3">

<%= form_with(model: @ctg, local: true) do |f| %>

      <% if ctg.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% ctg.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group" >
        <label>カテゴリー：</label>
       <%= f.text_field :ctg, size: "50" %>
      
      </div>
    
       <%= f.submit '登録' %>
       
<% end %>

    
    <%= link_to 'トップ（カテゴリー一覧）に戻る', ctgs_path, class: 'baktop' %>
  </div>
</div>
