<h2>カテゴリー一覧</h2>

<ul>
  
  <% @ctgs.each do |ctg| %>
    <div class="center-block">
      
       <li><%= link_to ctg.ctg, tchings_path(ctg_id: ctg.id) %></li>
      
      <div class="btn-group">
        <%= link_to "編集", edit_ctg_path(id: ctg.id), class: 'btn btn-primary btn-sm' %>
      </div>
      <div class="btn-group">
        <%= link_to "削除", ctg, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
      </div>
    </div>
              
  <% end %>
</ul>

<%= paginate @ctgs %>

<%= link_to 'カテゴリーの新規登録', new_ctg_path(@ctg), class: 'newctg'%>



