<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <% if logged_in? %>
            <a class="navbar-brand" href="/">PG Study ：<%= current_user.name %></a>
      <% else %>
             <a class="navbar-brand" href="/">PG Study</a>
      <% end %>
      
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
       <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
         <%= form_with(url: search_tchings_path, method: :get, local: true) do |f| %>
         <a style="color: white;">キーワード検索：</a>
           <%= text_field_tag :q, "", placeholder: " 検索ワードを入力！", class: "bg-light" %>
           <%= submit_tag "検索", class: "btn btn-info btn-sm" %>
         <% end %>
      <ul class="navbar-nav">
        <% if logged_in? %>
          
               <li class="navbar-brand"><%= link_to 'Logout', logout_path, class: 'nav-link', method: :delete %></li>
               
            <% if current_user.id !=1 %>
               <li class="navbar-brand"><%= link_to "退会", user_path(id: current_user.id), method: :delete, data: { confirm: "退会処理を実行するとこのユーザーは削除されますがよろしいですか?" }, class: 'nav-link'%></li>
            <% end %>
            
        <% else %>
         
            <li class="navbar-brand"><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
            <li class="navbar-brand"><%= link_to 'Login', login_path, class: 'nav-link' %></li>
             
        <% end %>
      </ul>
    </div>
    </div>
  </nav>
</header>